[Unit]
Description=Check and renew ACME TLS certificates
Documentation=man:dehydrated(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/dehydrated --cron
User=dehydrated
RuntimeDirectory=dehydrated

CapabilityBoundingSet=
LockPersonality=yes
MemoryDenyWriteExecute=yes
MountFlags=slave
NoNewPrivileges=yes
ProtectControlGroups=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/dehydrated /run/dehydrated
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SocketBindDeny=any
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
