[Unit]
Description=Check and renew ACME TLS certificates
Documentation=man:dehydrated(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/dehydrated --cron
User=dehydrated
RuntimeDirectory=dehydrated

CapabilityBoundingSet=
MemoryDenyWriteExecute=yes
MountFlags=slave
NoNewPrivileges=yes
ProtectControlGroups=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/dehydrated /run/dehydrated
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@cpu-emulation @debug @keyring @obsolete @privileged
