[Unit]
Description=Regularly check and renew ACME TLS certificates

[Timer]
# a bit more often than weekly (certificates are renewed when they are valid for < 30 days)
OnCalendar=*-*-1,5,9,13,17,21,25,29
AccuracySec=1day
Persistent=true

[Install]
WantedBy=timers.target
