[Unit]
Description=Update git server info for the %I repository
Documentation=man:git-update-server-info(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/git update-server-info
WorkingDirectory=/srv/git/%I.git
ReadWriteDirectories=/srv/git
# ReadWriteDirectories=/srv/git/%I doesn’t work

# sandboxing options, see systemd.exec(5)
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ReadOnlyDirectories=/
SystemCallArchitectures=native
