[Unit]
Description=git daemon, connection %I
Documentation=man:git-daemon(1)

[Service]
ExecStart=/usr/bin/git daemon --inetd --verbose --export-all --enable=upload-archive --base-path=/srv/git
StandardInput=socket
StandardOutput=socket
StandardError=journal
User=nobody

# sandboxing options, see systemd.exec(5)
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
