[Unit]
Description=git daemon, connection %I
Documentation=man:git-daemon(1)

[Service]
ExecStart=/usr/local/bin/git daemon --inetd --log-destination=stderr --verbose --export-all --enable=upload-archive --base-path=/srv/git
StandardInput=socket
StandardOutput=socket
StandardError=journal
DynamicUser=yes

# sandboxing options, see systemd.exec(5)
MemoryDenyWriteExecute=yes
PrivateDevices=yes
# DynamicUser=yes only implies DynamicHome=read-only
ProtectHome=yes
PrivateNetwork=yes
IPAddressDeny=any
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
