[Unit]
Description=git daemon, connection %I
Documentation=man:git-daemon(1)

[Service]
ExecStart=/usr/bin/git daemon --inetd --log-destination=stderr --verbose --export-all --enable=upload-archive --base-path=/srv/git
StandardInput=socket
StandardOutput=socket
StandardError=journal
DynamicUser=yes

# sandboxing options, see systemd.exec(5)
CapabilityBoundingSet=
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
# DynamicUser=yes only implies ProtectHome=read-only
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
