[Unit]
Description=Minecraft server
# Superperm eats up all available CPU time, don’t run that at the same time
Conflicts=superperm.service

[Service]
Type=simple
ExecStart=java -Xmx1024M -Xms1024M -jar minecraft_server.1.15.2.jar nogui
WorkingDirectory=/opt/minecraft
User=minecraft
SuccessExitStatus=143

NoNewPrivileges=true
PrivateDevices=yes
ProtectHome=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
