[Unit]
Description=Minecraft server
# Superperm eats up all available CPU time, don’t run that at the same time
Conflicts=superperm.service

[Service]
Type=simple
ExecStart=/bin/bash -c 'exec java -Xmx8G -Xms8G -jar minecraft_server.1.16.4.jar nogui > >(exec sed --unbuffered -E -e "/[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}/ s//XXX.XXX.XXX.XXX/g" -e "/[0-9a-f]{1,4}:[0-9a-f]{1,4}:[0-9a-f:]{10,25}:[0-9a-f]{1,4}/s//XXXX::XXXX/g")'
WorkingDirectory=/opt/minecraft
User=minecraft
SuccessExitStatus=143
SyslogIdentifier=minecraft

NoNewPrivileges=true
PrivateDevices=yes
ProtectHome=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
