[Unit]
Description=OpenRefine data reconciliation tool
Documentation=http://openrefine.org/

[Service]
ExecStart=/opt/openrefine-2.8/refine -d %S/%p -x refine.headless=true
DynamicUser=yes
NoNewPrivileges=yes
StateDirectory=%p
