[Unit]
Description=distributed superpermutations search
Documentation=https://github.com/superpermutators/superperm/wiki/How-to-run-the-distributed-Chaffin-method
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/superperm/DistributedChaffinMethod/DistributedChaffinMethod team "Stand Up Maths"
DynamicUser=yes
LogsDirectory=%N
WorkingDirectory=%L/%N
NoNewPrivileges=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallFilter=@system-service
