[Unit]
Description=irssi in tmux session
Wants=tmux@lucas.service
Requires=irc-bridge.service
After=tmux@lucas.service irc-bridge.service

[Service]
Type=oneshot
User=lucas
ExecStartPre=/bin/sleep 5s
ExecStart=/usr/bin/tmux new-session -s "Ceylon chat" -d irssi

[Install]
WantedBy=multi-user.target
